
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# custom
pnpm-lock.yaml
pnpm-workspace.yaml
tools
.editorconfig
.husky
!commitlint.config.ts
!tsconfig.json
